<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Infor</servlet-name>
  	<display-name>Infor</display-name>
  	<description></description>
  	<servlet-class>controller.Infor</servlet-class>
  </servlet>
 
 
  <servlet>
  	<servlet-name>update</servlet-name>
  	<display-name>update</display-name>
  	<description></description>
  	<servlet-class>controller.update</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>detailDocument</servlet-name>
  	<display-name>detailDocument</display-name>
  	<description></description>
  	<servlet-class>controller.detailDocument</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>news</servlet-name>
  	<display-name>news</display-name>
  	<description></description>
  	<servlet-class>controller.news</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload</servlet-name>
  	<display-name>upload</display-name>
  	<description></description>
  	<servlet-class>controller.upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>answer</servlet-name>
  	<display-name>answer</display-name>
  	<description></description>
  	<servlet-class>controller.answer</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	 <servlet-name>Infor</servlet-name>
  	<url-pattern>/Infor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>detailDocument</servlet-name>
  	<url-pattern>/detailDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>news</servlet-name>
  	<url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>answer</servlet-name>
  	<url-pattern>/answer</url-pattern>
  </servlet-mapping>
  
</web-app>

